<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 配置目标类 -->
  <bean id="userDao" class="fun.epoch.learn.spring.aop.target.UserDao"/>

  <!-- 配置通知类 -->
  <bean id="myBeforeAdvice" class="fun.epoch.learn.spring.aop.springaop.manualproxy.MyBeforeAdvice"/>

  <!-- 配置代理类 -->
  <bean id="userDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
    <!-- 代理类的目标对象 -->
    <property name="target" ref="userDao"/>
    <!-- 代理类实现的接口 -->
    <property name="proxyInterfaces" value="fun.epoch.learn.spring.aop.target.IUserDao"/>
    <!-- 代理类使用的通知 -->
    <property name="interceptorNames" value="myBeforeAdvice"/>
    <!-- 是否使用类代理而非接口 -->
    <property name="proxyTargetClass" value="false"/>
    <!-- 是否返回单例的代理对象 -->
    <property name="singleton" value="true"/>
    <!-- 是否强制使用 CGLib 代理 -->
    <property name="optimize" value="false"/>
  </bean>
</beans>