<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 配置目标类 -->
  <bean id="userDao" class="fun.epoch.learn.spring.aop.target.UserDao"/>

  <!-- 配置通知类 -->
  <bean id="myBeforeAdvice" class="fun.epoch.learn.spring.aop.springaop.manualproxy.MyBeforeAdvice"/>
</beans>